In [7]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pickle
import os

# base_dir= os.path.dirname((os.path.dirname(os.path.abspath(__file__))))
# csv_path = os.path.join(base_dir, "data", "Crop_recommendation.csv")



df = pd.read_csv("../data/Crop_recommendation.csv")
X = df.drop('label', axis=1)
y = df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = RandomForestClassifier()
model.fit(X_train, y_train)

# Save the model
pickle.dump(model, open("../portal/model/crop_model.pkl", "wb"))

In [10]:
import pandas as pd
df= pd.read_csv("../data/Crop_recommendation.csv")
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [2]:
import pandas as pd
df=pd.read_csv("../data/fertilizer_recommendation.csv ")
df = df.dropna()
df

           Crop    N    P    K
0         apple   20  134  199
1        banana  100   82   50
2     blackgram   40   67   19
3      chickpea   40   67   79
4       coconut   21   16   30
5        coffee  101   28   29
6        cotton  117   46   19
7        grapes   23  132  200
8          jute   78   46   39
9   kidneybeans   20   67   20
10       lentil   18   68   19
11        maize   77   48   19
12        mango   20   27   29
13    mothbeans   21   48   20
14     mungbean   20   47   19
15    muskmelon  100   17   50
16       orange   19   16   10
17       papaya   49   59   50
18   pigeonpeas   20   67   20
19  pomegranate   18   18   40
20         rice   79   47   39
21   watermelon   99   17   50